:root {
  --top-color: #212121;
  --main-font: "Roboto", sans-serif;
  --hover-color: #2196f3;
  --white-color: #fff;
  --text-color: #757575;
  --logo-studio: #080909;
  --background-hat-footer: #2f303a;
  --hat-btn-focus: #188ce8;
  --team-background: #f5f4fa;

  --hero-gradient:linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );
}