.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white-color);

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--top-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-link {
  // width: 170px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: border-color 250ms linear, fill 250ms linear;
  &:hover,
  &:focus {
    border-color: var(--hover-color);
    fill: var(--hover-color);
  }

  @media screen and (min-width: 768px) {
    width: 225px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
